.parent{
    display: flex;
    position: relative;
}
.two{
    width: 50%;
    height: 600px;
    background-color: #eee;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    position: relative;
    z-index: 200;
    left: 40px;
}
.right-eye{
    width: 35%;
    height: 150px;
    background-color: black;
    transform: rotate(135deg);
    border-top-left-radius: 35%;
    border-top-right-radius: 35%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    position: absolute;
    top: 25%;
}

.left-eye{
    width: 35%;
    height: 150px;
    background-color: black;
    transform: rotate(225deg);
    border-top-left-radius: 35%;
    border-top-right-radius: 35%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    position: absolute;
    top: 25%;
    right: 3%;
}
.cir-a{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #eee;
    position: absolute;
    top:20%;
    left: 10%;
    animation: move 3s linear 0.1s infinite;
}
@keyframes move{
    0%{
        left: 10%;
    }
    50%{
        left: 25%;
    }
   100%{
         left: 50%;
    }
}
.cir-b{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #eee;
    position: absolute;
    top:20%;
    right: 10%;
    animation: moves 3s linear 0.1s infinite;
}@keyframes moves{
    0%{
        right: 10%;
    }
    50%{
        right: 25%;
    }
   100%{
         right: 40%;
    }
}

.nose{
    width: 120px;
    height: 120px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    left: 38%;
    z-index: 50;
}
.smile{
    width: 40%;
    height: 80px;
    background-color: #eee;
    border-bottom: 50px solid black;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    z-index: 20;
    position: absolute;
    top: 60%;
    left: 28%;
}
.one{
    width: 15%;
    height: 200px;
    background-color: black;
    border-top-left-radius: 60%;
    border-top-right-radius: 60%;
    border-bottom-right-radius: 35%;
    border-bottom-left-radius: 35%;
    transform: rotate(-45deg);
    z-index: 100;
    position: absolute;
}
.three{
    width: 15%;
    height: 200px;
    background-color: black;
    border-top-left-radius: 60%;
    border-top-right-radius: 60%;
    border-bottom-right-radius: 35%;
    border-bottom-left-radius: 35%;
    transform: rotate(45deg);
    z-index: 100;
    position: absolute;
    left: 42%;
}

